{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" style="color: green" data-url="{% url 'index' %}">Login</button>
    </form>
    <div id="message"></div>

{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}